.scatterplotCircle {
    stroke: #9a6fb0;
    fill: #9a6fb0;
    fill-opacity: .1;
}
.svgArea:hover .scatterplotCircle {
    stroke: #f0e4f6;
    fill: #f0e4f6;
    fill-opacity: .1;
}
.svgArea .scatterplotCircle:hover {
    fill-opacity: 1;
    stroke: #9a6fb0;
    fill: #9a6fb0;
}
