.tooltip {
    width: 356px;
    background: #fff;
    border: 1px solid #f5f5f5;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 10%);
    font-size: 11px;
    max-width: 200px;
    padding: 10px;
    position: absolute;

    margin-left: 35px;
    transform: translateY(-50%);
}

.title {
    font-size: 17px;
}

.topHalfContainer {
    border-left: solid 4px;
    padding-left: 8px;
    padding-top: 0px;
}

.row {
    display: flex;
    justify-content: space-between;
    line-height: 20px;
    font-size: 14px;
}

.separator {
    width: 100%;
    background-color: #c9c7c7;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}
