:root {
    --light-grey:  #f8f9fa;
    --medium-grey: #e5e5e5;
    --dark-grey: #C8C8C8;
    --react-gallery: #9a6fb0;
    --light-black: #484848;
}

/* Each section has a specific color */
.distribution{
    color: #e0ac2b
}
.correlation{
    color: #7f7f7f;
}
.ranking{
    color: #a4c969;
}
.partOfAWhole{
    color: #e85252;
}
.evolution{
    color: #6689c6;
}
.map{
    color: #9a6fb0;
}
.flow{
    color: #a53253;
}

/* ---------- PAGE LAYOUT ----------------- */
/* Inspired from https://www.joshwcomeau.com/css/full-bleed/ */
.wrapper {
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-columns:
      1fr
      min(822px, 100%)
      1fr;
  }
.wrapper > * {
    grid-column: 2;
}
.full-bleed {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    grid-column: 1 / 4;
}
.grey-section {
    background-color: var(--light-grey);
}

/* ---------- Global CSS ----------------- */
body {
    overflow-x: hidden;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
    font-size: 19px;
    font-weight: 200;
}
p {
    line-height: 1.73;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
    font-weight: 200;
    margin-bottom: 10px;
}
/* This code rule applies only to inline code. Code formatted by prism has its style set in a custom sheet. */
code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: #afb8c133;
    border-radius: 6px;
    font-family: 'Fira Mono', monospace;
}
a {
    color: var(--react-gallery);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: .1px;
  }
a:hover {
    color: #251667
}
blockquote {
    background: var(--light-grey);
    border-left: 2px solid var(--react-gallery);
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    line-height: 1.73;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
    font-weight: 200;
  }
blockquote p {
    display: inline;
}

/* ---------- Titles ----------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
  /* scroll margin allows to add a bit of space around the title we're targeting with the table of content */
  scroll-margin: 100px;
}

h2 {
    font-size: 22px !important;
    width: 100%;
    border-bottom: 1px solid var(--medium-grey);
    margin-top: 100px !important;
    margin-bottom: 10px !important;
    padding-bottom: 10px !important;
}

h3 {
    font-size: 16px;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 10px;
}


/* ---------- Horizontal separator ----------------- */
.smallHr {
    margin-top: 23px;
    margin-bottom: 23px;
    border: 0;
    border-top: 1px solid black;
    width: 0;
    animation: separator-width 2s ease-in-out forwards;
  }
  @keyframes separator-width {
    0% {
      width: 0;
    }
    100% {
        width: 200px;
    }
  }

/* ---------- Button ----------------- */
.btn {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500 !important;
    border-color: var(--react-gallery) !important;
    color: var(--react-gallery) !important;
    border-width: 2px !important;
    background-color: transparent !important;
    margin: 3px !important;
  }

  .btn-xl {
    font-size: 18px !important;
    padding: 20px 40px !important;
  }

  .btn:active, .btn:focus, .btn:hover {
    background-color: var(--react-gallery) !important;
    border-color: var(--react-gallery) !important;
    color: white !important;
  }





