/* https://codersblock.com/blog/creating-glow-effects-with-css/ */
.container {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.glowCircleOuter  {
  filter: drop-shadow(0px 0px 50px #fff)
          drop-shadow(-5px 0 20px #f0f)
          drop-shadow(5px 0 20px #0ff);
}

.glowCircleOuter  {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow:
    0 0 50px #fff,            /* outer white */
    -10px 0 20px #f0f,        /* outer left magenta */
    10px 0 20px #0ff;         /* outer right cyan */
}

.glowCircleBoth  {
  filter: drop-shadow(0px 0px 50px #fff)
    drop-shadow(-5px 0 20px #f0f)
    drop-shadow(5px 0 20px #0ff);

  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px #f0f,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
}
