.barContainer {
    height: 15px;
    position: relative;
    margin: 1px;
    opacity: .1;
}

.bar {
    position: absolute;
    height: 100%;
    border-radius: 2px;
}

.text {
    position: absolute;
    height: 100%;
    font-size: 8px;
    margin-left: 4px;
    margin-top: 2px;
    color: "grey";
}

.highlighted {
    opacity: 1
}
