figure.container {
    color: #fff;
    position: relative;
    overflow: hidden;
    width: 100%;
    background: black;
    border-radius: 5px;
  }
  figure.container * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.container img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  figure.container figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  figure.container .title,
  figure.container p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
  }
  figure.container .title {
    -webkit-transform: translate3d(0%, 50%, 0);
    transform: translate3d(0%, 50%, 0);
  }

  figure.container a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  }

  /* Hover effect */
  figure.container:hover img {
    opacity: 0.2;
  }
  figure.container:hover figcaption .title {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0s,-webkit-transform 0s,-moz-transform 0s,-o-transform 0s,transform 0s;
  }
  figure.container:hover figcaption p {
    opacity: 0.9;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }



