.mainContainer {
  font-weight: 300;
  line-height: 26px;
  font-size: 18px;
  color: rgb(234, 240, 247, 0.9);
}

.mainContainer a {
  color: rgba(96, 165, 250, 1);
}
.mainContainer a:hover {
  color: rgba(59, 130, 246, 1);
  text-decoration: underline;
}

.strongText {
  position: relative;
}
.strongText::before {
  /* Highlight color */
  background-color: rgba(96, 165, 250, 1);
  content: '';
  position: absolute;
  width: calc(100% + 4px);
  height: 10%;
  left: -2px;
  bottom: -4px;
  transform: rotate(-4deg);
}
